<div class="page">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="col-4 pagetitle">
              <div [innerHTML]="getTopTitle()"></div>
            </div>
            
            <div class="searchsub col-8">
                SEARCH &nbsp;&nbsp;<input  class="form-control searchsubbar" id="subSearchBar" placeholder="" value="" autofocus
                [(ngModel)]="subsearchTerm" (input)="subsearchTerm ? addSubQuery({searchsub: subsearchTerm}) : addSubQuery({searchsub: null})">
            </div>
            
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <span *ngFor="let subpage of subpage | searchsub: subsearchTerm  ; let odd = odd; let even = even;
            let i = index;"
            #nGForArray>
                <div class="box odd col-4" *ngIf="odd" [routerLink]="['courses/']">
                    <h1 class="{{subpage.icon}} pe-5x pe-va"></h1>
                    <span class="boxtitle">{{subpage.title}}</span><br>
                    <p>{{subpage.description}}</p>
                    <span class="boxfilter">{{subpage.tags}}</span>
                </div>
                <div class="box even col-4" *ngIf="even" [routerLink]="['courses/']">
                        <h1 class="{{subpage.icon}} pe-5x pe-va"></h1>
                        <span class="boxtitle">{{subpage.title}}</span><br>
                        <p>{{subpage.description}}</p>
                        <span class="boxfilter">{{subpage.tags}}</span>
                </div>
                    
            
            </span>
        </div>
    </div>
</div>