/*  subpage.component.css  */ 


  
/* NAVIGATION BAR */

.pagetitle {
  background-color: #fff;
  font-weight: 200;
  font-size: 24pt;
  color: #002a5f;
  left: -37px;
  padding:5px;
}
  
  
.searchsub {
  font-weight: bold;
  color: #fff;
  background: #d1462c;
  padding-top:10px;
  padding-bottom: 10px;
}

.searchsubbar {
  display: inline-block;
  width: 80%;
  max-width: 400px;
  height: 80%;
}

.blank {
  background-color: #d1462c;
}

.leftnavbar {
  text-align: right;
  top: 10px;
  float: right;
  color: #fff;
  height: 100%;
}

.courselink {
   text-decoration: none;
   text-decoration: inherit;
   color: #333;
}

.courselink:hover {
  cursor: pointer;
  text-decoration: none;
}


/* Main page */


