/*  subpage.component.css  */ 


  
/* NAVIGATION BAR */
  
  
  .searchsub {
    font-weight: bold;
    color: #fff;
    background: #d1462c;
    padding-top:10px;
    padding-bottom: 10px;
  }
  
  .searchsubbar {
    display: inline-block;
    width: 80%;
    max-width: 400px;
    height: 80%;
  }
  
  .blank {
    background-color: #d1462c;
  }
  
  .leftnavbar {
    text-align: right;
    top: 10px;
    float: right;
    color: #fff;
    height: 100%;
  }
  
  .courselink {
     text-decoration: none;
     text-decoration: inherit;
     color: #333;
  }
  
  .courselink:hover {
    cursor: pointer;
    text-decoration: none;
 }
 
  
  /* Main page */
  

  /*  Modal Content  */

.modal-content {
  background-color: #fff;
  color: #333;
  align-content: center;
}

.btn-modal {
  text-decoration: none;
  background-color: #fff;
  top: -10px;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: -20px;
  height: 100%;
  display: inline-block;
  font-weight: bold;
}

.btn-modal:hover {
  background-color: #ddd;
}

.border {
  border-style: solid;
  border-width: thin;
  padding: 15px;
}

.close {
  color: #666;
}

.largeicon {
  font-size: 42px;
  align-content: center;
}

.normalfont {
  font-size: 14pt;
  font-weight: 400;
}

.smallfont {
  font-size: 11px;
  font-weight: 200;
}

.iconbox {
  align-content: center;
  text-align: center;
  padding-bottom: 10px;
}



