<div class="page">
    <nav class="navbar">
        <div class="container">
            
            <div class="searchsub col-12">
                SEARCH &nbsp;&nbsp;<input  class="form-control searchsubbar" id="subSearchBar" placeholder="" value="" autofocus
                [(ngModel)]="subsearchTerm" (input)="subsearchTerm ? addSubQuery({searchsub: subsearchTerm}) : addSubQuery({searchsub: null})">
            </div>
            
        </div>
    </nav>
    <div class="container">

        <!--   TOP SECTION - display of the items on the subpage -->
        <div class="row">
            <div class="col-md-9">
                <div class="container">
                    <div class="row">
                            <span *ngFor="let subpageitems of subpageitems | searchsub: subsearchTerm  ; let odd = odd; let even = even;
                            let i = index;" #nGForArray class="bground">
                                <div class="box col courselink" (click)="fillform(subpageitems)" >
                                    <!--<span style="color:#333; font-weight: bold;">{{subpageitems.id}}</span>-->
                                    <h1 class="{{subpageitems.icon}} pe-5x pe-va icon-image"></h1>
                                    <span class="boxtitle">{{subpageitems.title}}</span><br>
                                    <p>{{subpageitems.description}}</p>
                                </div>
                            </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 sidebar">
                    sidebar
            </div>
            
            
        </div>

        <!--   DIVIDER -->
        <div class="row">
            <div class="col divider-padding">&nbsp;</div>
        </div>
    
        <!--   FORM SECTION - form to fillout new records/edit existing records -->
        <div class="row" id="Form">
                <div class="col-12" id="page form layout">
                        <button class="btn-primary" (click)="isPageFormVisible = !isPageFormVisible; editPages();" *ngIf="!isPageFormVisible">Edit Pages</button>
                        <div id="page_form" *ngIf="isPageFormVisible" class="page_form">
                          <button class="btn-primary" (click)="isPageFormVisible = !isPageFormVisible; clearForm();" *ngIf="isPageFormVisible">Hide Form</button>
                            <form novalidate #formPage="ngForm"  class="col-12" > 
                                <div class="col-10 formline">
                                    <span class="col-2 pageID">
                                        <span style="color:#333; font-weight: bold;">ID: {{this.id}}</span>
                                    </span>
                                    <span class="col-6 relatedpageentry">
                                        <label class="">Related Page</label>
                                        <input list="pagelist" class="col-6 form-control" [(ngModel)]="relatedPage" 
                                            id="relatedPage" [value]="" name="relatedPage" #pageRelatedPage="ngModel" >
                                    </span>
                                </div>
                                <div class="col-10 formline">
                                    <span class="col-6 titlepageentry">
                                            <label>Title</label>
                                        <input type="text" class="col-6 form-control" [(ngModel)]="title" 
                                            id="title" [value]="" name="title" #pageTitle="ngModel" >
                                    </span>
                                </div>
                                <div class="col-10 formline">
                                    <label>Description</label>
                                    <textarea rows="3" class="form-control" [(ngModel)]="description" 
                                        id="description" [value]="" name="description" #pageDescription="ngModel" ></textarea>
                                </div>
                                <div class="col-10 formline">
                                    <div class="row">
                                        <span class="col-1 iconentry">
                                            <label>Icon:</label>
                                            <!-- both input boxes below will be classes for the div -->
                                            <div ngClass="{{iconClass}}"></div>
                                            <span class="col-4 icon"></span>
                                                
                                        </span>
                                        <span id="preview" class="col-2 examples">
                                            <button (click)="openLGWindow(content)">Icon Examples</button>
                                        </span>
                                        <span class="spacer col-2">&nbsp;</span>
                                        <span class="col-4 activeentry">
                                            <label>Active:</label>
                                            <input list="activelist" class="col-6 form-control" [(ngModel)]="isactive"
                                                    id="isactive" [value]="" name="isactive" #pageIsactive="ngModel" >
                                        </span>
                                    </div>
                                </div>
                                <div class="col-10 formline">
                                    <span class="col-7 urlentry">
                                        <label>URL</label>
                                        <input type="text" class="col-12 form-control" [(ngModel)]="url" 
                                            id="url" [value]=""  name="url" #pageSidebar="ngModel" >
                                    </span>
                                </div>
                                <div class="col-4 formline">
                                    <span class="urlentry">
                                        <label>URL Target</label>
                                        <input list="targetlist" class="col-8 form-control" [(ngModel)]="urltarget" 
                                            id="urltarget" [value]=""  name="urltarget" #pageSidebar="ngModel" >
    
                                    </span>
                                    
                                </div>
                            
                    
                            
                                <datalist id="pagelist" ng-controller="relatedpageCtrl">
                                    <option *ngFor="let relatedPage of relatedPages" 
                                            [value]="relatedPage" ng-change="updatePreview(relatedPage)" >
                                            {{ relatedPage }}
                                    </option>
                                </datalist>
                                <datalist id="iconlist" ng-controller="iconCtrl">
                                    <option *ngFor="let thumbnails of thumbnails" 
                                            [value]="thumbnails.icon_name" ng-change="updatePreview(thumbnails.icon_name)" >
                                            {{ thumbnails.icon_name }}
                                    </option><span class="{{ thumbnails.icon_name }}"></span>
                                </datalist>
                                <datalist id="activelist">
                                    <option value="true">
                                    <option value="false">
                                </datalist> 
                                <datalist id="targetlist">
                                    <option value="_blank">
                                    <option value="_self">
                                    <option value="_parent">
                                    <option value="_top">
                                </datalist>
                    
                                <br>
                                <span *ngIf="!isCurrent">
                                    <button class="btn-primary entry" id="add" (click)="openProofWindow(proof, 'add');">Add</button>&nbsp;&nbsp;
                                </span>
                                <span *ngIf="isCurrent">
                                <button class="btn-primary entry" id="update" (click)="openProofWindow(proof, 'update');">Update</button>&nbsp;&nbsp;
                                <button class="btn-primary entry" id="delete" (click)="openProofWindow(proof, 'delete');">Delete</button>&nbsp;&nbsp;
                                </span>
                                <button class="btn-primary entry" id="clear" 
                                    (click)="clearForm(formPage.value); isCurrent = false;
                                    ">Clear</button>
                            </form>
                          </div>
                        
            
                    </div>
                      
            

    </div>
</div>

<!--   MODAL WINDOW - popup for icons -->

<ng-template #content let-modal>
    <div class="modal-header">
    <h4 class="modal-title">Icons</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('click close')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <section id="content">
                <div class="container">
                    <div id="all-icons" class="row">
                        <div *ngFor="let thumbnails of thumbnails; 
                                let odd = odd; let even = even; let i = index; " class="iconbox col-2">
                            <div class="even"  *ngIf="even" (click)="fillIcon(thumbnails.icon_name); modal.dismiss('Cross click')" >
                                <div class="{{thumbnails.icon_name}} largeicon"></div>
                                <div class="font-icon-name smallfont">{{thumbnails.icon_name}}</div>
                            </div>
                            <div class="odd"  *ngIf="odd" (click)="fillIcon(thumbnails.icon_name); modal.dismiss('Cross click')" >
                                    <div class="{{thumbnails.icon_name}} largeicon"></div>
                                    <div class="font-icon-name smallfont">{{thumbnails.icon_name}}</div>
                                </div>
                            </div>    
                    </div>
                </div>
        </section>
    </div>
</ng-template>


<!--   MODAL WINDOW - PROOF -->

<ng-template #proof let-modal>
    <div class="modal-header container">
        <div class="row">
            <h4 class="modal-title col-7">Proof Copy</h4>
            <button type="button" class="btn col-2 btn-modal" aria-label="no" (click)="modal.dismiss('cancel click')">
                    <span aria-hidden="true">No</span>
                </button>
            <button type="button" class="btn col-2 btn-modal btn-success" aria-label="ok" ngbAutofocus (click)="confirmedEdits();modal.close('Ok click');">
                <span aria-hidden="true">Ok</span>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <section id="content">
                <div class="container">
                    <div id="all-icons" class="row">
                        <div class="box border"  >
                                <!--<span style="color:#333; font-weight: bold;">{{editPage.id}}</span>-->
                                <h1 class="{{editPage.icon}} pe-5x pe-va"></h1>
                                <span class="boxtitle">{{editPage.title}}</span><br>
                                <p>{{editPage.description}}</p>
                        </div>
                        <p><strong>Additional Content:</strong><br>
                        Related Page: {{editPage.relatedPage}}<br>
                        URL: {{editPage.url}}</p>
                    </div>
                </div>
        </section>
    </div>
</ng-template>
