<div class="page">
  <nav class="navbar">
      <div class="container-fluid">
          <div class="search col-7">
              SEARCH &nbsp;&nbsp; <input  class="form-control searchbar" id="SearchBar" placeholder="" value="" autofocus
              [(ngModel)]="searchTerm" (input)="searchTerm ? addQueryParams({search: searchTerm}) : addQueryParams({search: null})">
          </div>
          
          <div class="leftnav col-5">
              
              <div class="leftnavbar skillfilter btn-group-toggle" data-toggle="locationbuttons">
                  FILTER:&nbsp;&nbsp;
                  <label class="btn active blur" [class.active]="!tag" id="filter0">
                      <input type="radio" name="options" id="option0" class="generalbtn" [(ngModel)]="tag" [value]=""
                          value="null" (click)="addQueryParams({tag: null, page: null})">&nbsp;ALL&nbsp;
                  </label>&nbsp;
                  <div *ngFor="let tagsArray of tagsArray" class="btn-group">
                      <label class="btn blur" [class.active]="tag == tagsArray.tag" id="{{tagsArray.tag}}">
                          <input type="radio" name="options" id="option{{tagsArray.tag}}" class="generalbtn" 
                          [(ngModel)]="tag" value="{{tagsArray.tag}}" [value]="tagsArray.tag" >&nbsp;{{tagsArray.tag}}&nbsp;
                      </label>&nbsp;
                      
                  </div>
              </div>
          </div>
          
      </div>
  </nav>
  <div class="container-fluid">
      <div class="row">
        <div class="sections col-12">
          <h3>Pages</h3>
          <div class="col-12" id="page-data">
            <div id="column titles">
                <div class="idHead col-1">ID</div>
                <div class="titleHead col-3">Title</div>
                <div class="descriptionHead col-5">Description</div>
                <div class="tagHead col-3">Tags</div>
            </div>
            
            <span *ngFor="let top_page of top_page | search: searchTerm | tagsPipe: tag  ; 
            let i = index;"
            #nGForArray class="item-table">
              <div class="pageitem" (click)="fillform(top_page)">
                <div class="pageid col-1">{{top_page.id}}&nbsp;<span class="{{top_page.icon}} iconsize pe-7x pe-va"></span></div>
                <div class="pagetitle col-3">{{top_page.title}}</div>
                <div class="pagedescription col-5">{{top_page.description}}</div>
                <div class="pagetags col-3"><div [innerHTML]="getTags(top_page)"></div></div>
              </div>
            </span>
          </div>
        </div>
        <div class="col-12" id="page form layout">
            <button (click)="isPageFormVisible = !isPageFormVisible" *ngIf="!isPageFormVisible">Edit Pages</button>
            <div id="page_form" *ngIf="isPageFormVisible" class="page_form">
              <button (click)="isPageFormVisible = !isPageFormVisible" *ngIf="isPageFormVisible">Hide Form</button>
              <form novalidate #formPage="ngForm"  class="col-12" > 
                <div class="col-5">
                    <label>Title</label>
                    <input type="text" class="form-control" [(ngModel)]="title" 
                          id="formPageTitle" [value]="" name="title" #pageTitle="ngModel" >
                </div>
                <div class="col-10">
                    <label>Description</label>
                    <textarea rows="3" class="form-control" [(ngModel)]="description" 
                          id="description" [value]="" name="description" #pageDescription="ngModel" ></textarea>
                </div>
                <div class="col-10">
                  <span class="col-6 iconentry">
                      <label>Icon:</label>
                      <input list="iconlist" class="col-6 form-control" [(ngModel)]="icon"
                          id="icon" [value]="" name="icon"  #pageIcon="ngModel" >
                        <span id="preview" class="col-6"></span>
                  </span>
                  <span class="col-6 activeentry">
                      <label>Active:</label>
                      <input list="activelist" class="col-3 form-control" [(ngModel)]="isactive"
                            id="isactive" [value]="" name="isactive" #pageIsactive="ngModel" >
                  </span>
                </div>
                <div class="col-10">
                    <label>Sidebar</label>
                    <textarea rows="5" class="form-control" [(ngModel)]="sidebar" 
                          id="sidebar" [value]=""  name="sidebar" #pageSidebar="ngModel" ></textarea>
                </div>
              
      
            
                <datalist id="iconlist" ng-controller="iconCtrl">
                    <option *ngFor="let iOption of iOptions" 
                            [value]="iOption" ng-change="updatePreview(iOption)" >
                            {{ iOption }}
                    </option><span class="iOption"></span>
                </datalist>
                <datalist id="activelist">
                    <option value="true">
                    <option value="false">
                </datalist> 
      
                      <br>
                    <span *ngIf="!isCurrent">
                        <button class="entry" id="add" (click)="createRequest(pageTitle.value, pageDescription.value, pageIcon.value, pageS.value, pageA.value)">Add</button>&nbsp;&nbsp;
                    </span>
                    <span *ngIf="isCurrent">
                      <button class="entry" id="update" (click)="createRequest(pageTitle.value, pageDescription.value, pageIcon.value, pageS.value, pageA.value)">Update</button>&nbsp;&nbsp;
                      <button class="entry" id="delete" (click)="createRequest(pageTitle.value, pageDescription.value, pageIcon.value, pageS.value, pageA.value)">Delete</button>&nbsp;&nbsp;
                    </span>
                    <button class="entry" id="clear" 
                        (click)="clearForm(formPage.value); isCurrent = false;
                        ">Clear</button>
                        <!--
                          formPage.value.title = null; formPage.value.icon = null; formPage.value.sidebar = null;
                        formPage.value.description = null; formPage.value.isactive = null;
                        pageTitle.value = null
                        -->
                </form>
                <p>Title value: {{ pageTitle.value }}</p>
                <p>Form value: {{ formPage.value | json }}</p>
    
              </div>
            

        </div>
          


      </div>
      <div class="row" id="sub pages">
        <div class="spacer col-12"><hr></div>
        <div class="sections col-12">
            <h3>Subpages</h3>
            <span *ngFor="let subpageitems of subpageitems | search: searchTerm; 
            let i = index;"
            #nGForArray class="item-table">
                <div class="col-12">
                    <span class="boxtitle">{{subpageitems.title}}</span>
                    <span class="boxdescription">{{subpageitems.description}}</span>
                    <span class="edit"></span>
                </div>
          </span>
        </div>
      </div>
  </div>
</div>
