/*  page.component.css  */ 

.container-fluid {
    width: 100%;
    max-width: 2400px;
    margin-left: 10px;
    margin-right: 0px;
    padding-right: 0px;
    align-content: center;
  }
  
  
  /* Navigation bar */
  .navbar {
    background-color: #d1462c;
    color: #fff;
    font-size: 14pt;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: auto;
  }
  
  .page {
    background: #ffffff;
  }
  
  
  .search {
    font-weight: bold;
    padding-top:10px;
    padding-bottom: 10px;
  }
  
  .searchbar {
    display: inline-block;
    width: 80%;
    max-width: 400px;
    height: 80%;
  }
  
  .blank {
    background-color: #d1462c;
  }
  
  .leftnavbar {
    text-align: right;
    top: 10px;
    float: right;
    color: #fff;
    height: 100%;
  }
  
  
  .btn-primary {
    text-decoration: none;
    background-color: #d1462c;
    top: -10px;
    padding-top: 15px;
    padding-bottom: 15px;
    bottom: -20px;
    height: 100%;
    display: inline-block;
    font-weight: bold;
  }
  
  .btn {
    top: 0px;
    padding-top: 10px;
    height: 52px;
  }
  
  .active {
    background: #ab2724;
  }
  
  .btn:hover {
      background: #ab2724;
  }
  
  h3 {
      color: #002a5f;
  }

  .idHead, .titleHead, .descriptionHead, .tagHead {
      font-size: 14pt;
      font-weight: bold;
      display: inline-block;
      vertical-align: top;
  }
  
  /* Main page */
  
  .row {
    margin-left:0px;
    margin-right:0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .item-table {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
  }
  
  
  .pagetitle {
    color: #666;
    font-size: 12pt;
    font-weight: bold;
    display: inline-block;
    padding-left: 20px;
    padding-right: 10px;
    width: 20%;
    vertical-align: top;
  }

  .pagedescription {
    display: inline-block;
    padding-right: 10px;
    width: 70%;
    vertical-align: top;
  }
  
  .iconentry, .icon, .activedisplay, .activeentry {
      display: inline-block;
  }

  td, th, tr {
      vertical-align: top;
  }

  .pageid, .pagetags {
      display: inline-block;
  }

  .sections {
      margin-bottom: 20px;
  }

  .boxcategory {
    color: #666;
    font-size: 18pt;
    font-weight: 600;
  }
  
  .box {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #000;
    text-align: center;
    align-content: center;
    width: 1200px;
    height: 30px;
  }
  
  .box:hover {
    cursor: pointer;
  }
  
  