<div class="page">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="search col-7">
                SEARCH &nbsp;&nbsp; <input  class="form-control searchbar" id="SearchBar" placeholder="" value="" autofocus
                [(ngModel)]="searchTerm" (input)="searchTerm ? addQueryParams({search: searchTerm}) : addQueryParams({search: null})">
            </div>
            
            <div class="leftnav col-5">
                
                <div class="leftnavbar skillfilter btn-group-toggle" data-toggle="locationbuttons">
                    FILTER:&nbsp;&nbsp;
                    <label class="btn active blur" [class.active]="!tag" id="filter0">
                        <input type="radio" name="options" id="option0" class="generalbtn" [(ngModel)]="tag" [value]=""
                            value="null" (click)="addQueryParams({tag: null, page: null})">&nbsp;ALL&nbsp;
                    </label>&nbsp;
                    <div *ngFor="let tagsArray of tagsArray" class="btn-group">
                        <label class="btn blur" [class.active]="tag == tagsArray.tagname" id="{{tagsArray.tagname}}">
                            <input type="radio" name="options" id="option{{tagsArray.tagname}}" class="generalbtn" 
                            [(ngModel)]="tag" value="{{tagsArray.tagname}}" [value]="tagsArray.tagname" >&nbsp;{{tagsArray.tagname}}&nbsp;
                        </label>&nbsp;
                        
                    </div>
                </div>
            </div>
            
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <span *ngFor="let top_page of top_page | search: searchTerm | tags: tag  ; let odd = odd; let even = even;
            let i = index;"
            #nGForArray>
                <div class="box odd col-4" *ngIf="odd" [routerLink]="['/course']" [queryParams]="{category: top_page.title}" >
                    <h1 class="{{top_page.icon}} pe-5x pe-va"></h1>
                    <span class="boxtitle">{{top_page.title}}</span><br>
                    <p>{{top_page.description}}</p>
                    <span class="boxfilter">{{top_page.tags}}</span>
                </div>
                <div class="box even col-4" *ngIf="even" [routerLink]="['/course']" [queryParams]="{category: top_page.title}"  >
                    <h1 class="{{top_page.icon}} pe-5x pe-va"></h1>
                    <span class="boxtitle">{{top_page.title}}</span><br>
                    <p>{{top_page.description}}</p>
                    <span class="boxfilter">{{top_page.tags}}</span>
                </div>
                    
            
            </span>
        </div>
    </div>
</div>