/*  page.component.css  */ 






/*  Modal Content  */

.modal-content {
  background-color: #fff;
  color: #333;
  align-content: center;
}

.btn-modal {
  text-decoration: none;
  background-color: #fff;
  color: #666;
  top: -10px;
  padding: 15px;
  height: 100%;
  display: inline-block;
  font-weight: bold;
}

.btn-modal:hover {
  background-color: #d8613c;
  color: #000;
}

.btn-success {
  color: #333;
  padding-right:40px;
}


.border {
  border-style: solid;
  border-width: thin;
  padding: 15px;
}

.close {
  color: #666;
}

.largeicon {
  font-size: 42px;
  align-content: center;
}

.normalfont {
  font-size: 14pt;
  font-weight: 400;
}

.smallfont {
  font-size: 11px;
  font-weight: 200;
}

.iconbox {
  align-content: center;
  text-align: center;
  padding-bottom: 10px;
}



