/*  page.component.css  */ 

.container-fluid {
  width: 100%;
  max-width: 2400px;
  margin-left: 10px;
  margin-right: 0px;
  padding-right: 0px;
  align-content: center;
}


/* Navigation bar */
.navbar {
  background-color: #d1462c;
  color: #fff;
  font-size: 14pt;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: auto;
}

.page {
  background: #ffffff;
}


.search {
  font-weight: bold;
  padding-top:10px;
  padding-bottom: 10px;
}

.searchbar {
  display: inline-block;
  width: 80%;
  max-width: 400px;
  height: 80%;
}

.blank {
  background-color: #d1462c;
}

.leftnavbar {
  text-align: right;
  top: 10px;
  float: right;
  color: #fff;
  height: 100%;
}


.btn-primary {
  text-decoration: none;
  background-color: #d1462c;
  top: -10px;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: -20px;
  height: 100%;
  display: inline-block;
  font-weight: bold;
}

.btn {
  top: 0px;
  padding-top: 10px;
  height: 52px;
}

.active {
  background: #ab2724;
}

.btn:hover {
    background: #ab2724;
}



/* Main page */

.row {
  margin-left:0px;
  margin-right:0px;
  padding-left: 0px;
  padding-right: 0px;
}

.even {
  background-color: #ffffff;
}

.odd {
  background-color: #ececec;
}

.boxtitle {
  color: #d8613c;
  font-size: 18pt;
  font-weight: bold;
}

.boxcategory {
  color: #666;
  font-size: 18pt;
  font-weight: 600;
}

.box {
  padding-top: 50px;
  padding-bottom: 10px;
  color: #000;
  text-align: center;
  align-content: center;
  width: 400px;
  height: 100%;
}

.box:hover {
  cursor: pointer;
}

.iconentry, .icon, .activedisplay, .activeentry {
  display: inline-block;
  vertical-align: top;
}

.examples {
  top: 40px;
}

td, th, tr {
  vertical-align: top;
}

/*  Modal Content  */

.modal-content {
  background-color: #fff;
  color: #333;
  align-content: center;
}

.btn-modal {
  text-decoration: none;
  background-color: #fff;
  top: -10px;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: -20px;
  height: 100%;
  display: inline-block;
  font-weight: bold;
}

.btn-modal:hover {
  background-color: #ddd;
}

.border {
  border-style: solid;
  border-width: thin;
  padding: 15px;
}

.close {
  color: #666;
}

.largeicon {
  font-size: 42px;
  align-content: center;
}

.normalfont {
  font-size: 14pt;
  font-weight: 400;
}

.smallfont {
  font-size: 11px;
  font-weight: 200;
}

.iconbox {
  align-content: center;
  text-align: center;
  padding-bottom: 10px;
}



