  
  .navbar {
    background-color: #d1462c;
    color: #fff;
    font-size: 14pt;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .container-fluid {
    max-width: 1300px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }

  .search {
    font-weight: bold;
    padding-top:10px;
    padding-bottom: 10px;
  }

  .searchbar {
    display: inline-block;
    width: 80%;
    height: 80%;
  }

  .blank {
    background-color: #d1462c;
  }

  .leftnavbar {
    text-align: right;
    top: 10px;
    float: right;
    color: #fff;
    height: 100%;
  }

  
  .btn-primary {
    text-decoration: none;
    top: -10px;
    padding-top: 15px;
    padding-bottom: 15px;
    bottom: -20px;
    height: 100%;
    display: inline-block;
    font-weight: bold;
  }

  .btn-primary:not(:disabled):not(.disabled).active {
    background-color: #ab2724;
  }

