/* style.css */
/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    font-family: Arial, Helvetica, sans-serif;
    zoom: .75;
}

.container {
    max-width: 2400px;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    align-content: center;
    
}

.row {
    align-content: center;
}

.sidebar {
    background-color: #efefef;
}

.header {
    width: 100%;
    height: auto;
    display: block;
    background: #fff;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;

}

.app-root {
    width: 100%;
    padding-left:0px;
    padding-right:0px; 
}

.footer-bar {
    min-height: 50px;
    padding:10px;
    background: #464646;
    text-align: left;
    color:#8c8c8c;
    font-size:10pt;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #666 -moz-use-text-color #666;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
  }

.icon-image {
    font-size: 42pt;
    color: #002A5F;
}

.align-right {
    float: right;
}

.align-left {
    float: left;
}


.box {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #000;
    text-align: center;
    align-content: center;
    min-width: 400px;
    height: 100%;
  }

.box:hover {
    cursor: pointer;
  }


body, input[text], button {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12pt;
  }

.person-scrollbar {
    height: 500px;
}

.person-detail {
    display: inline-block;
}

.lightgray {
    background-color: #f9f9f9;
}

.generalbtn {
    display: inline-block;
    padding-right: 5px;
}

.normal-font {
    font-size: 12pt;
}

.med-font {
    font-size: 10pt;
}

.small-font {
    font-size: 8pt;
  }

.xsmall-font {
    font-size: 4pt;
}

 
.bground:nth-child(1), .bground:nth-child(3), .bground:nth-child(6), .bground:nth-child(8), .bground:nth-child(9), .bground:nth-child(11), .bground:nth-child(14)   {background-color:#ddd;}
.bground:nth-child(2), .bground:nth-child(4), .bground:nth-child(5), .bground:nth-child(7), .bground:nth-child(10), .bground:nth-child(12), .bground:nth-child(13)  {background-color:#fff;}


/* start of desktop styles */

@media screen and (max-width: 1649px) {
    /* start of medium tablet styles */
        .bground:nth-child(odd)  {background-color:#ddd;}
        .bground:nth-child(even)  {background-color:#fff;}
    }
    

@media screen and (max-width: 1267px) {
    /* start of medium tablet styles */
        .bground:nth-child(1), .bground:nth-child(4), .bground:nth-child(5), .bground:nth-child(8), .bground:nth-child(9), .bground:nth-child(12), .bground:nth-child(13)   {background-color:#ddd;}
        .bground:nth-child(2), .bground:nth-child(3), .bground:nth-child(6), .bground:nth-child(7), .bground:nth-child(10), .bground:nth-child(11)  {background-color:#fff;}
          
    }

@media screen and (max-width: 869px) {
    /* start of medium tablet styles */
        .bground:nth-child(odd)  {background-color:#ddd;}
        .bground:nth-child(even)  {background-color:#fff;}
    }
        
    
@media screen and (max-width: 767px) {
    /* start of medium tablet styles */
        .bground:nth-child(1), .bground:nth-child(4), .bground:nth-child(5), .bground:nth-child(8), .bground:nth-child(9), .bground:nth-child(12), .bground:nth-child(13)   {background-color:#ddd;}
        .bground:nth-child(2), .bground:nth-child(3), .bground:nth-child(6), .bground:nth-child(7), .bground:nth-child(10), .bground:nth-child(11)  {background-color:#fff;}
            
    }
    
@media screen and (max-width: 668px) {
    /* start of medium tablet styles */
        .bground:nth-child(odd)  {background-color:#ddd;}
        .bground:nth-child(even)  {background-color:#fff;}
    }
            
      
  