/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    font-family: Arial, Helvetica, sans-serif;
    zoom: .75;
}

.main-body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 2400px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid {
    width: auto;
    margin-left: 10px;
    margin-right: 0px;
    padding-right: 0px;
    align-content: center;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.col-12 {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
}

.header {
    width: 100%;
    height: auto;
    display: block;
    background: #fff;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;

}

.app-root {
    width: 100%;
    padding-left:0px;
    padding-right:0px; 
}

.footer-bar {
    min-height: 50px;
    padding:10px;
    background: #464646;
    text-align: left;
    color:#8c8c8c;
    font-size:10pt;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #666 -moz-use-text-color #666;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
  }

.align-right {
    float: right;
}

body, input[text], button {
    color: #666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12pt;
  }

.person-scrollbar {
    height: 500px;
}

.person-detail {
    display: inline-block;
}

.lightgray {
    background-color: #f9f9f9;
}

.generalbtn {
    display: inline-block;
    padding-right: 5px;
}

.normal-font {
    font-size: 12pt;
}

.med-font {
    font-size: 10pt;
}

.small-font {
    font-size: 8pt;
  }

.xsmall-font {
    font-size: 4pt;
}

.btn {
    padding: 0;
    border: none;
    /*font: inherit;*/
    color: inherit;
    background-color: transparent;
    /* show a hand cursor on hover; some argue that we
    should keep the default arrow cursor for buttons */
    cursor: pointer;
  }

  .box {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #000;
    text-align: center;
    align-content: center;
    max-width: 400px;
    height: 100%;
  }
  
/* start of desktop styles */

@media screen and (max-width: 1024px) {
    /* start of medium tablet styles */
        .container-fluid {
            max-width: 1100px;
        }
        .box {
            max-width: 360px;
          }
    
    }
  
    @media screen and (max-width: 880px) {
    /* start of medium tablet styles */
        .container-fluid {
          max-width: 800px;
          }
        .box {
            max-width: 420px;
          }
    
    }
    
    @media screen and (max-width: 768px) {
        /* start of phone styles */
        .container-fluid {
            max-width: 800px;
        }
        .box {
            max-width: 390px;
          }
    }
  
    @media screen and (max-width: 607px) {
        /* start of phone styles */
        .container-fluid {
            max-width: 700px;
        }
        .box {
            width: 100%;
          }
        
    }
  
  
    @media screen and (max-width: 550px) {
    /* start of phone styles */
        .container-fluid {
            max-width: 600px;
        }
  
    
    }
  
    @media screen and (max-width: 415px) {
        /* start of phone styles */
            .container-fluid {
                max-width: 475px;
            }
  
     
        }
  
    @media screen and (max-width: 375px) {
        /* start of phone styles */
            .container-fluid {
                max-width: 375px;
            }
  
       }
  
  
  